<nav>
  <a href="/about">About</a>
</nav>

<router-outlet></router-outlet>

<!-- <footer></footer> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-about [time]="timeNow" (myEvent)="handleMyEvent($event)"></app-about> -->
<!-- 
<p>1 + 5 = {{1+5}}</p>

<p>{{ title }}</p>
<p>{{ sayHello("Ken") }}</p>

<button (click)="handleMyEvent($event)">Click me</button>

<img [src]="imgName" />

<input [(ngModel)]="name" />
{{name}}
<pre>
  () -> sending data from the template to the class/component/instance
  [] -> sending data from the cls/component/instance to the template
  [()] -> binding the data in both directions
</pre>
<app-about></app-about> -->